In [1]:
import yfinance as yf
import pandas as pd

In [2]:
# Definindo os ativos (Tickers)
# KC=F -> Coffee C Futures (Arábica - Contrato Global)
# BRL=X -> Dólar vs Real
tickers = ['KC=F', 'BRL=X']

print(f"Baixando dados para: {tickers}...")
# Baixando dados dos últimos 5 anos
dados = yf.download(tickers, period="5y", interval="1d")

# Visualizando
print("\n--- Amostra dos Dados ---")
display(dados.head())

Baixando dados para: ['KC=F', 'BRL=X']...

[*********************100%***********************]  2 of 2 completed

--- Amostra dos Dados ---

Price        Close                High                   Low              \
Ticker       BRL=X        KC=F   BRL=X        KC=F     BRL=X        KC=F
Date
2021-01-19  5.2948  127.150002  5.3458  128.750000  5.244100  124.650002
2021-01-20  5.3567  125.199997  5.3574  127.050003  5.275000  123.400002
2021-01-21  5.2905  126.449997  5.3969  127.300003  5.233826  124.750000
2021-01-22  5.3495  124.050003  5.4617  126.300003  5.346981  122.849998
2021-01-25  5.4655  123.250000  5.4673  124.949997  5.463300  122.150002

Price         Open             Volume
Ticker       BRL=X        KC=F  BRL=X     KC=F
Date
2021-01-19  5.2950  126.000000    0.0  19435.0
2021-01-20  5.3562  126.550003    0.0  19721.0
2021-01-21  5.2903  125.800003    0.0  13904.0
2021-01-22  5.3494  125.699997    0.0  18266.0
2021-01-25  5.4660  123.000000    0.0  18318.0

In [3]:
# Salvando os dados na pasta 'raw' (Dados Brutos)
# Explicação do caminho: '../' significa "volte uma pasta" (sair de notebooks para ir para data)
dados.to_parquet('../data/raw/dados_brutos_commodities.parquet')

print("✅ Arquivo salvo com sucesso! Pode verificar na pasta data/raw.")

✅ Arquivo salvo com sucesso! Pode verificar na pasta data/raw.